body {
  background-color: #5f9ea0;
}

h1 {
  color: blue;
}

/*sm*/
@media(min-width: 576px) {
  h1 {
    color: red;
  }
}

/*md*/
@media(min-width: 768px) {
  h1 {
    color: green;
  }
}

/*lg*/
@media(min-width: 992px) {
  h1 {
    color: yellowgreen;
  }
}

.btn-primary {
  background-color: rebeccapurple;
}

.container {
  background-color: #ccc;
}

.container-fluid {
  background-color: #888;
}

/*Container breakpoint*/

.container-sm {
  margin-bottom: 30px;
  border: solid 2px blue;
}

.container-md {
  margin-bottom: 30px;
  border: solid 2px brown;
}

.container-lg {
  margin-bottom: 30px;
  border: solid 2px rebeccapurple;
}

/*grid*/

.container {
  border: 5px dotted darkblue;
  padding: 10px;
  margin-bottom: 300px;
}

.row {
  border: 5px solid palevioletred;
  height: 100px;
  padding: 10px;
  margin: 0;
}

.col,
.col-4,
.col-2,
.col-1,
.col-11,
.col-6,
.col-3 {
  border: 3px dashed red;
  height: 100%;
  margin: 0;
}

#largura-limitada {
  max-width: 500px;
}

/* Alinhamento vertical */

.vertical {
  height: 250px;
  border-color: coral;
}

.vertical .row {
  height: 100%;
}

.vertical.col-6,
.vertical.col-3,
.vertical.col-4 {
  height: 50px;
}

#offset {
  height: auto;
}

#offset .col-md-3 {
  height: 50px;
  border: 2px solid red;
}

/* gutter */
#gutter .row {
  height: 200px;
}

#gutter .col-6 {
  margin: auto;
  height: 50px;
}

.row p {
  border: 2px solid blue;
}